<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ravi's Django posts project</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <header class="container center-align">
        <h2> latest posts about Django and Python..!</h1>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <br />
    <div class="container">
        <a style="text-align: center; display: block;" href="/admin">Admin Login</a>
    </div>
</body>

</html>